<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/doctors">Doctors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/patients">Patients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/drugs">Drugs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pharmacies">Pharmacies</a>
    </li>
  </ul>