* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh; 
  background-image: url('../images/doctor.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-menu {
  background-color:rgb(209, 209, 209);
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.logo {
  background-image: url('../images/logo.jpg');
  background-size: cover;
  width: 59px;
  height: 59px;
  margin-left: 35px;
  cursor: pointer;
  display: inline-block;
}

.logoHover:hover {
  background: none;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
}

nav ul li a {
  color: rgb(121, 120, 120);
  font-size: 1.1em;
  text-decoration: none;
  padding: 3px 15px;
  border-radius: 3px;
}

a:hover {
  background-color: #68ccfa;
  transition: .5s;
}

.checkbtn {
  color: white;
  font-size: 1.5em;
  float: right;
  line-height: 50px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* CSS for Phone or Tablet */
@media (max-width: 980px) {
  nav ul li a {
      font-size:0.9em
  }
}

/* CSS for Phone or Tablet */
@media (max-width: 840px) {
  .checkbtn {
      display: block;
  }
  ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: #3a3636;
      text-align: right;
      left: -100%;
      transition: 1s;
      margin-right: 30px;
  }
  nav ul li {
      display: block;
      margin:30px;
      margin-right: 70px;
      line-height: 30px;
  }
  a:hover,a.active {
      background: none;
      color: #2533f3;
  }
  #check:checked ~ ul {
      left:0
  }
}

/* CSS for Content in page */
.header {
  margin-top: 70px;
  font-family:'Times New Roman', Times, serif;
  color: #be4e4e;
  text-align: center;
}

.styleTable {
  text-align: center;
}

.styleTableDiv {
  padding: 50px;
}
.styleTable table {
  opacity: 80%;
}

.btnStyle {
  border: none;
  border-radius: 25px;
}

.alertStyle {
  margin-top: 60px;
  margin-bottom: -40px;
}