<form action="/doctors" method="POST">
    <div class="mb-3">
      <label for="full_name" class="form-label">Full Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="full_name">
    </div>
    <div class="mb-3">
      <label for="lecence_number" class="form-label">Licence Number</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="licence_number">
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="city">
    </div>
    <div class="mb-3">
      <label for="specialization" class="form-label">Specialization</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="specialization">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>